/* GENERAL STYLES */
html,
body,
nav,
section,
article,
footer,
h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #651010;
    --color-secondary: #48565b;
    --color-tertiary: #5d6464;
    --color-accent1: #485d55;
    --color-accent2: #f4841a;
    --color-subsection1-heading: #371f13;
    --color-subsection1-body: #683d2a;
    --color-card: #e7e2de;
    --color-card-text: #c5b6b2;
}

html,
body {  /* changed from color tertiary */
    background-color: #101f22;
    font-family: "Figtree", Verdana, sans-serif;
    overscroll-behavior: none;
}

main {
    padding: 20px;
}

nav {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    margin: 20px;
}

footer {
    background-color: var(--color-primary);
    padding: 10px;
}

h1,
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

h3,
h4 {
    font-family: "Alegreya", serif;
    font-weight: 600;
}

h1 {
    font-size: 50pt;
    text-align: center;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 20pt;
}

p {
    font-size: 16pt;
}

a {
    color: var(--color-primary);
}

/* UTILITIES */
/* containers */
.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.image-overlay { /* can this be wider? */
    position: relative;
    text-align: center;
    color: white;
}

.text-image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* card styling */
.card {
    grid-column: span 1;
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
}

.card.large {
    grid-column: span 2;
}

.card h4,
.card img {
    flex: 0 0 0;
    padding: 20px;
}

.card p {
    flex: 1 0 0;
    background-color: var(--color-card-text);
    padding: 20px;
}

/* subsections */
.subsection {
    background-color: #999999;
}

.subsection-heading {
    background-color: #555555;
    padding: 20px;
    text-align: center;
}

.subsection-content {
    padding: 20px;
}

/* textboxes */
.textbox {
    background-color: #777777;
    padding: 20px;
}

/* other */
.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

.orange {
    color: var(--color-accent2);
}

/* SITEWIDE */
.header {
    background-color: var(--color-primary);
    padding: 20px;
}

footer p {
    color: #ffffff;
}

nav p,
nav a {
    color: #000000;
}

.banner {
    width: 100%;
    display: block;
}

/* PAGE SPECIFIC - HOMEPAGE */
/* PAGE SPECIFIC - CARDS */
img.cards {
    align-self: center;
    width: 250px;
    margin: 20px;
}

img.cards.large {
    width: 1000px;
}

.flex-container.cards {
    padding: 20px;
}

.grid-container.cards {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    padding: 20px;
}

/* PAGE SPECIFIC - TIPS & TRICKS */
.grid-container.tips {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    box-sizing: content-box;
}

.grid-large {
    grid-row: span 2;
}

/* PAGE SPECIFIC - HISTORY */
.timeline {
    background-color: var(--color-subsection2-body);
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
}

.timeline-item {
    display: inline-block;
}

.timeline-content {
    width: 640px;
    white-space: normal;
    padding: 20px;
}

.timeline-image {
    width: 640px;
    padding: 20px;
}

/* PAGE SPECIFIC - QUIZ */
.question>label,
.question>input {
    display: block;
}

/* PAGE SPECIFIC - EXPLANATIONS */