/* GENERAL STYLES */
html,
body,
nav,
section,
article,
footer,
h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #591C14;
    --color-light-red: #d1a69a;
    --color-dark-red: #3a130e;
    --color-blue-gray: #5b6464;
    --color-lighter-blue-gray: #cdd5d8;
    --color-light-blue-gray: #a1a8ab;
    --color-medium-blue-gray: #62717d;
    --color-dark-blue-gray: #364040;
    --color-beige: #f0e1d2;
    --color-dark-beige: #b79985;
    --color-brown: #794934;
    --color-dark-brown: #3d1b0c;
    --color-orange: #f4841a;
}

html,
body {
    background-color: var(--color-blue-gray);
    font-family: "Figtree", Verdana, sans-serif;
    overscroll-behavior: none;
}

main {
    padding: 20px;
}

nav {
    background-color: var(--color-dark-red);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    margin: 20px;
}

footer {
    background-color: var(--color-dark-red);
    padding: 10px;
}

h1,
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: white;
}

h3,
h4 {
    font-family: "Alegreya", serif;
    font-weight: 600;
    color: white;
}

h1 {
    font-size: 50pt;
    text-align: center;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 20pt;
}

p,
label {
    font-size: 16pt;
}

a {
    color: var(--color-red);
}

nav p,
nav a,
footer p {
    color: white;
}

figcaption {
    font-size: 10pt;
    font-weight: 300;
    text-align: center;
}


/* UTILITIES */
/* containers */
.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

/* flex container modifiers */
.center-align {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.image-overlay {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0 auto;
}

.image-overlay img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}

.text-image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}



/* card styling */
.card {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-beige);
}

.card.large {
    grid-column: span 2;
}

.card h4,
.card img {
    flex: 0 0 0;
    padding: 20px;
    color: black;
}

.card p {
    flex: 1 0 0;
    padding: 20px;
    background-color: var(--color-dark-beige);
}

.subsection {
    background-color: var(--color-subsection-body);
}

.separated-heading {
    padding: 20px;
    text-align: center;
}

.text-content {
    padding: 20px;
}

/* background coloring */
.red {
    background-color: var(--color-red);
}

.light-red {
    background-color: var(--color-light-red);
}

.dark-red {
    background-color: var(--color-dark-red);
    color: white;
}

.blue-gray {
    background-color: var(--color-blue-gray);
}

.lighter-blue-gray {
    background-color: var(--color-lighter-blue-gray);
}

.light-blue-gray {
    background-color: var(--color-light-blue-gray);
}

.dark-blue-gray {
    background-color: var(--color-dark-blue-gray);
}

.beige {
    background-color: var(--color-beige);
}

.dark-beige {
    background-color: var(--color-dark-beige);
}

.brown {
    background-color: var(--color-brown);
}

.dark-brown {
    background-color: var(--color-dark-brown);
}


/* other */
.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

.orange {
    color: var(--color-orange);
}

.white {
    color: white;
}

/* SITEWIDE */
.header {
    background-color: var(--color-red);
    padding: 20px;
}

.banner {
    width: 100%;
    display: block;
}

img.text {
    align-self: center;
    width: 250px;
    margin: 20px;
}

/* PAGE SPECIFIC - HOMEPAGE */

/* PAGE SPECIFIC - INSTRUCTIONS */
.light-blue-gray h4 {
    color: black;
}

.light-blue-gray h4.dark-blue-gray {
    color: white;
}

.instructions.card p {
    background-color: var(--color-medium-blue-gray);
}

.vertical-margin {
    margin: 20px 0;
}

.bottom-margin {
    margin: 0 0 20px 0;
}

/* PAGE SPECIFIC - CARDS */
img.cards {
    align-self: center;
    width: 250px;
}

img.cards.large {
    width: 1000px;
}

.flex-container.cards {
    padding: 20px;
}

.grid-container.cards {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    padding: 20px;
}

.horizontal-card-container {
    flex: 1 1 0;
}

.horizontal-margin {
    margin: 0 20px;
}

/* PAGE SPECIFIC - TIPS & TRICKS */
.grid-container.tips {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    box-sizing: content-box;
}

.grid-large {
    grid-row: span 2;
}

.lighter-blue-gray h4 {
    color: black;
}

.tips-card {
    width: calc(50% - 20px);
}

/* PAGE SPECIFIC - HISTORY */
.timeline {
    background-color: var(--color-light-blue-gray);
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.timeline-item {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.timeline-image {
    width: 640px;
    padding: 20px;
    margin: 0 auto;
    display: block;
}

.timeline-content {
    width: 640px;
    white-space: normal;
    padding: 20px;
    flex-grow: 1;
}

/* PAGE SPECIFIC - QUIZ */
#quiz {
    text-align: right;
}

.quiz-question {
    text-align: left;
    background-color: var(--color-lighter-blue-gray);
    margin: 0 0 20px 0;
}

.quiz-inputs {
    background-color: var(--color-medium-blue-gray);
    padding: 20px;
}

.quiz-feedback-container:not(:empty) {
    background-color: var(--color-dark-blue-gray);
    color: white;
    padding: 20px;

}

.quiz-button {
    display: inline-block;
    background-color: var(--color-red);
    padding: 20px;
    color: white;
    font-size: 16pt;
    justify-self: right;
    border: none;
}

span.hidden-text {
    color: var(--color-dark-blue-gray);
}

img.quiz {
    width: 250px;
    margin: auto;
    display: block;
}

.quiz-question>label {
    display: block;
    padding: 20px;
}

.quiz-option>label {
    display: inline-block;
    margin: 5px;
}

/* PAGE SPECIFIC - EXPLANATIONS */